# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
env*/
venv/
ENV/
env.bak/
venv.bak/

# Vscode project
.vscode/

# Idea project
.idea/

# Logs
*.log

# Test files
test.py
test.ipynb
